<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/gallery/404_PAGE.jpg">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{errorMessage}}</p>
    </div>
    
    {{>footer}}
</body>

</html>