<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
    <!-- BEGIN: Head-->
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Pay your employees in different countries effortlessly. ">
    <meta name="keywords" content="rose, rose global, payroll, Pay your employees, payroll platform,employees benefits and social security">
    <title>User Register | Rose Global</title>
    <link rel="apple-touch-icon" href="../../../app-assets/images/favicon/apple-touch-icon-152x152.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../../app-assets/images/favicon/favicon-32x32.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="vendors/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/pages/login.css">
    <link rel="stylesheet" type="text/css" href="/css/custom/custom.css">
  </head>
=======
{{>header}}
>>>>>>> origin
  <!-- END: Head-->
  <body class="vertical-layout vertical-menu-collapsible page-header-dark vertical-modern-menu 1-column login-bg  blank-page blank-page" data-open="click" data-menu="vertical-modern-menu" data-col="1-column" data-gr-c-s-loaded="true">
    <div class="row">
      <div class="col s12">
        <div class="container"><div id="login-page" class="row">
  <div class="col s12 m6 l4 z-depth-4 card-panel border-radius-6 login-card bg-opacity-8">
      <div style="margin: 0 auto;"><img src="img/logo/Rose-logo.png"></div>
    <div class="row">
    <form class="login-form" action="/signUp" method="POST"></div>
      <div class="row">
        <div class="input-field col s12">
<<<<<<< HEAD
          <h7 class="ml-4" id="message_log">{{#if message includeZero=true}}{{message}}{{else}}Sign up{{/if}}</h7>
=======
          <h7 class="ml-4">{{#if message includeZero=true}}{{message}}{{else}}Sign up{{/if}}</h7>
>>>>>>> origin
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="material-icons prefix pt-2">person_outline</i>
          <input id="username" name="Name"  type="text" autocomplete="off">
             <label for="username">Name</label>
        </div>
      </div>
      <div class="row margin">
            <div class="input-field col s12">
              <i class="material-icons prefix pt-2">mail_outline</i>
              <input id="email" type="text" name="Email" autocomplete="off">
              <label for="email" class="center-align">Email</label>
            </div>
        </div>
        <div class="row margin">
                <div class="input-field col s12">
                  <i class="material-icons prefix pt-2">store_outline</i>
                  <input id="company" type="text" name="Company" autocomplete="off">
                  <label for="company" class="center-align">Company Name</label>
                </div>
            </div>
            <div class="row margin">
        <div class="input-field col s12">
          <i class="material-icons prefix pt-2">lock_outline</i>
          <input id="password" type="password" name="Password"  autocomplete="off">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
<<<<<<< HEAD
          <button id="register_button" type="submit" class="btn waves-effect waves-light mdc-button__ripple mdl-color--pink-300 col s12">Sign up</a>
=======
          <button type="submit" class="btn waves-effect waves-light mdc-button__ripple mdl-color--pink-300 col s12">Sign up</a>
>>>>>>> origin
        </div>
      </div>
      <div class="row">
          <div class="input-field col s12"> 
            <a href="index.html" class="btn waves-effect waves-light mdc-button__ripple blue col s12">Sign up with Google</a>
          </div>
        </div>
      <div class="row">
        <div class="input-field col s6 m6 l6">
          <p class="margin medium-small">Already have an account? <a href="/" >Sign in</a></p>
        </div>
        <div class="input-field col s6 m6 l6">
<<<<<<< HEAD
          <p class="margin right-align medium-small"><a href="/RecoveryPassword">Forgot password?</a></p>
=======
          <p class="margin right-align medium-small"><a href="RecoveryPassword">Forgot password ?</a></p>
>>>>>>> origin
        </div>
      </div>
    </form>
  </div>
</div>
        </div>
      </div>
    </div>
<!-- ================================================
    Scripts
    ================================================ -->
<<<<<<< HEAD
    <!-- BEGIN VENDOR JS
    <script src="vendors/vendors.min.js" type="text/javascript"></script>-->
=======
	<script src="/js/app.js"></script>
    <!-- BEGIN VENDOR JS-->
    <script src="vendors/vendors.min.js" type="text/javascript"></script>
>>>>>>> origin
    <!-- BEGIN VENDOR JS-->
    <!-- jQuery Library -->
    <script type="text/javascript" src="vendors/jquery-3.2.1.min.js"></script>
    <!--materialize js-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="js/plugins.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="js/custom-script.js"></script>
<<<<<<< HEAD
    <script type="text/javascript" src="js/app.js"></script>
=======
>>>>>>> origin
  </body>
</html>