<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Pay your employees in different countries effortlessly. ">
    <meta name="keywords" content="rose, rose global, payroll, Pay your employees, payroll platform,employees benefits and social security">
    <title>User Login | Rose Global</title>
<<<<<<< HEAD
    <link rel="apple-touch-icon" href="../../img/favicon/apple-touch-icon-152x152.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../img/favicon/favicon-32x32.png">
=======
    <link rel="apple-touch-icon" href="../../../app-assets/images/favicon/apple-touch-icon-152x152.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../../app-assets/images/favicon/favicon-32x32.png">
>>>>>>> origin
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="vendors/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="css/materialize.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/pages/login.css">
    <link rel="stylesheet" type="text/css" href="css/custom/custom.css">
  </head>